Package: com.mb.hookqqsports
Name: hook_qqsports
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mb
Author: mb
Section: Tweaks
